// import utilities
@import "../../styles/utilities/global-utilities";

.case-studies-page {
  main {
    background: linear-gradient(to bottom, white, #26737333);
  }

  .case-study {
    margin-bottom: 4rem;

    .view-content {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    .case-study-wrapper {
      background: $color-alabaster;
      border: 1px solid $color-mischka;
      border-radius: 10px;
      padding: 24px;
      margin-bottom: 0;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 32px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      .header-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 0;

        .title-info {
          flex: 1;

          .main-title {
            font-size: 1.5rem;
            font-weight: 600;
            color: $color-mirage;
            margin-bottom: 0.75rem;
            line-height: 2rem;
          }

          .subtitle {
            font-size: 16px;
            color: $color-secondary;
            margin: 0;
            font-weight: 400;
          }
        }

        .tag {
          background: $color-paradiso;
          color: white;
          padding: 2px 10px;
          border-radius: 50px;
          font-size: 12px;
          font-weight: 600;
          display: inline-block;
        }
      }

      .case-study-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 48px;

        .challenge,
        .solution,
        .results {
          h2 {
            font-size: 16px;
            font-weight: 600;
            color: $color-primary;
            line-height: 24px;
          }

          p {
            font-size: 14px;
            color: $color-secondary;
            line-height: 1.625;
            margin-top: 8px;
          }
        }
      }
    }
  }
}

// Responsive adjustments

@media (max-width: 576px) {
  .case-studies-page {
    .case-study {
      .case-study-wrapper {
        .header-section {
          display: block;
          .title-info {
            .subtitle {
              margin-bottom: 10px;
            }
          }
        }
        .case-study-content {
          grid-template-columns: unset;
          gap: 10px;
        }
      }
    }
  }
}
