// import utilities
@import "../../styles/utilities/global-utilities";

.call-to-action-home-page {
  background: linear-gradient(to right, #00378a, #a7c6f9);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 80px 0;
  position: relative;
  text-align: center;

  .layout__region--content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;

    // Title
    .field--name-field-title {
      font-size: 2rem;
      font-weight: 700;
      line-height: 38px;
      color: #fff;
      margin-bottom: 0.5rem;
    }

    // Subtitle text
    .field--name-body {
      p {
        color: $color-white;
        font-size: 1rem;
        margin-bottom: 2rem;
      }
    }

    // Button container
    .field--name-field-link {
      display: flex;
      justify-content: center;
      gap: 1rem;

      // Common button styles
      a {
        display: inline-block;
        padding: 0.75rem 1.5rem;
        border-radius: 8px;
        font-weight: 500;
        text-decoration: none;
        transition: background 0.3s ease, color 0.3s ease;
      }

      .field__item {
        &:first-child a {
          background-color: $color-paradiso;
          color: #fff;

          &:hover {
            background-color: #185c54;
          }
        }

        &:last-child a {
          background-color: #fff;
          color: #00378a;

          &:hover {
            background-color: #e6e6e6;
          }
        }
      }
    }
  }
}

.call-to-action-global {
  background: white;
  padding: 80px 0;
  position: relative;
  text-align: center;
  border-radius: 10px;
  border: 1px solid $color-mischka;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 64px auto 0;
  width: 100%;

  .layout__region--content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;

    // Title
    .field--name-field-title {
      font-size: 2rem;
      font-weight: 700;
      color: $color-mirage;
      margin-bottom: 0.5rem;
    }

    // Subtitle text
    .field--name-body {
      p {
        color: $color-secondary;
        font-size: 1rem;
        margin-bottom: 2rem;
      }
    }

    // Button container
    .field--name-field-link {
      display: flex;
      justify-content: center;
      gap: 1rem;

      a {
        display: inline-flex;
        padding: 0 2rem;
        height: 2.75rem;
        align-items: center;
        border-radius: 10px;
        font-weight: 500;
        text-decoration: none;
        transition: background 0.3s ease, color 0.3s ease;
      }

      .field__item {
        &:nth-child(1) a {
          background-color: $color-primary;
          color: $color-white;

          &:hover {
            background-color: $color-torea-bay;
            box-shadow: 0 4px 12px rgba(30, 58, 138, 0.3);
          }
        }

        &:nth-child(2) a {
          background: $color-white;
          color: $color-mirage;
          border: 1px solid $color-athens-gray;
          transition: all 0.3s ease;

          &:hover {
            background: #ecececb0;
            border-color: $color-gray-chateau;
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
              var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          }
        }
      }
    }
  }
}

//responsive footer styles
@media (max-width: 576px) {
  .call-to-action-home-page {
    padding: 50px 0;

    .layout__region--content {
      .field--name-field-link {
        display: grid;
        justify-content: center;
        gap: 1rem;

        .field__item {
          a {
            width: 100%;
          }
        }
      }
    }
  }

  .call-to-action-global {
    margin: 50px auto 0;
    padding: 50px 0;
    
    .layout__region--content {
      .field--name-field-title {
        line-height: 38px;
      }

      .field--name-field-link{
        display: block;

        .field__item {
          width: 100%;
          display: block;
          a {
            justify-content: center;
            width: 100%;
            text-align: center;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
