// Fonts
// --------------------------------------------------

// Web fonts


@font-face {
   font-family: "Helvetica";
   font-weight: 500;
   src: url(../../../fonts/HelveticaNeueLight.otf) format("opentype")
}

@font-face {
   font-family: "Helvetica Bold";
   font-weight: 600;
   src: url(../../../fonts/HelveticaNeueBold.otf) format("opentype")
}

@font-face {
   font-family: "Helvetica Medium";
   font-weight: 500;
   src: url(../../../fonts/HelveticaNeueMedium.otf) format("opentype")
}

// // Import icon font
// @import "../../../icon-font/icon-font";
// @import "../../../icon-font/icon-font-mixin";

