// Import variables
@import "variables";

// Default viewport min/max width
$min_width: 575px !default;
$max_width: 1600px !default;

// Variable sizing function & mixin
// --------------------------------------------------

